.nav-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 10vh;
    background-color: rgba(189, 47, 190, 0.78);
    box-shadow: 0 8px 6px -6px rgba(153,153,153,0.836);
    z-index: 10;

}

.branding {
    display: flex;
    width: 50%;
    color: white;
    margin-left: 20px;
    padding: 10px;
    font-size: 30px;
    flex-direction: row;
    align-items: center;
}

.account {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 100px;
}

.account .mat-icon {
    font-size: 30px;
}

.account .username {
    padding-left: 10px;
}