
<div class="navbar-container">
    <div>
        <a href="#Home" class="active"> Brand Name</a>
        <a href="#" (click)="onSelect('recipe')"> Recipes</a>
        <a href="#" (click)="onSelect('shoppinglist')">Shopping List</a>
    </div>
    <!-- <div class="dropdown-container">
       <span>Manage </span>
       <div class="dropdown-content">
          <ul>
            <li><a href="">Save Data</a></li>
            <li><a href="">Fetch Data</a></li>
          </ul>
       </div>
    </div> -->

    
</div>