<div class="container">
  <div class="navbar">
    <!-- <li class="nav"> -->
    <li class="navbar-tab"><a  routerLinkActive="tab-bg" [routerLinkActiveOptions]="{exact:true}" routerLink="home" >Home</a></li>  
    <li [routerLinkActive]="'tab-bg'" class="navbar-tab"><a  [routerLink]="'about'">About</a></li>  
    <li class="navbar-tab"><a [routerLink]="['contact']">Contact</a></li>  
    <li class="navbar-tab"><a routerLink="courses">Courses</a></li>
    <li [routerLinkActive]="'tab-bg'" class="navbar-tab"><a routerLink="home/homechildren">homechildren</a></li>

    <div style="float: right;">
    <button (click)="loginToWeb()">Login</button>
    <button (click)="logOutWeb()">Logout</button>
  </div>

    <!-- </li> -->
  </div>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>

</div>