
*{
    margin: 0;
    padding: 0;
}
nav {
    background-color: black;
    color:white;
    height: 50px;
}
nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items:center;
}
