<div class="container">
    <div class="form-container">
        <h2 class="login-title"> Create Account</h2>
        <form class="form-fields-container">
            <mat-form-field appearance="outline">
                <mat-label> Enter your Email</mat-label>
                <input matInput type="text" placeholder="abc@xyz.com">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label> Enter your name</mat-label>
                <input matInput type="text" placeholder="Abhinav">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label> Enter your passowrd</mat-label>
                <input matInput type="password" >
            </mat-form-field>
        </form>
        <div class="btn-container">
            <button mat-raised-button class="create-account-button">Create Account</button>
            <p>OR</p>
            <button mat-raised-button>Login</button>
            <!-- <mat-button></mat-button> -->
        </div>
        
    </div>
</div>