
div {
    /* margin-top: 10px; */
    border: 1px solid black;
    padding: 30px;
    min-width: 100px;
    max-height: 100px;
}

#grandParent {
    background-color: aqua;
}

#parent {
    background-color: yellow;
}

#child {
    background-color: beige;
}